<div [formGroup]="miForm" class="col-12">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Create a new app</mat-card-title>
        <mat-card-subtitle>Publish an app with a sample page or your own code. By creating an app, you allow us through
          your Hetzner Cloud API Key to create the necessary services and manage Hetzner Cloud resources and permissions
          on your behalf.
        </mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <br>
      <mat-form-field appearance="outline" class="col-12">
        <mat-label>Application name</mat-label>
        <input matInput
               formControlName="applicationName"
               [(ngModel)]="applicationName">
        <mat-hint class="mat-error" *ngIf="helper.FgCampoInvalido('applicationName', miForm)">
          Must contain between 5 and 150 characters
        </mat-hint>
      </mat-form-field>
    </mat-card-content>
  </mat-card>

  <div class="row">
    <div class="col-12">&nbsp;</div>
  </div>

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Platform</mat-card-title>
        <mat-card-subtitle>
          The platform is the technology behind your application, you must choose the one that
          corresponds. Once selected, it cannot be changed.
        </mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <br>
      <mat-form-field appearance="fill" class="col-12">
        <mat-label>Platform</mat-label>
        <mat-select formControlName="aplicacionPlataforma"
                    [(ngModel)]="aplicacionPlataforma">
          <mat-option *ngFor="let row of listEntorno" [value]="row.clave">{{row.valor}}</mat-option>
        </mat-select>
        <mat-hint class="mat-error" *ngIf="helper.FgCampoInvalido('aplicacionPlataforma', miForm)">
          You must select a platform.
        </mat-hint>
      </mat-form-field>
    </mat-card-content>
  </mat-card>

  <div class="row">
    <div class="col-12">&nbsp;</div>
  </div>

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Hetzner Token</mat-card-title>
        <mat-card-subtitle>
          In order to manage your services on your servers, you need to enter your Hetzner API token.
        </mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <br>
      <mat-form-field appearance="outline" class="col-12">
        <mat-label>Hetzner Api Token</mat-label>
        <input matInput
               formControlName="hetznerApiToken"
               [(ngModel)]="hetznerApiToken">
        <mat-hint class="mat-error" *ngIf="helper.FgCampoInvalido('hetznerApiToken', miForm)">
          Enter your Hetzner token
        </mat-hint>
      </mat-form-field>
    </mat-card-content>
  </mat-card>

  <div class="row">
    <div class="col-12">&nbsp;</div>
  </div>

  <mat-card class="col-12">
    <mat-card-header>
      <mat-card-title>Location</mat-card-title>
      <mat-card-subtitle>The location allows you to place the application closer to your customers, you must choose
        wisely because you will not be able to change it later.
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content style="padding: 5px">
      <mat-hint class="mat-error" *ngIf="helper.FgCampoInvalido('ubicacionId', miForm)">
        Select a location
      </mat-hint>
      <div class="col-12" style="background-color: #303030">
        <mat-radio-group formControlName="ubicacionId"
                         [(ngModel)]="ubicacionId">

          <div class="row" style="padding: 7px">

            <div *ngFor="let row of listDataCenter" class="col-6 col-md-4 col-lg-3" style="padding: 5px">
              <mat-card class="col-12">
                <mat-card-content>
                  <div class="row">
                    <div class="col-6 center-align">
                      <img [src]="getFlat(row!.location!)" [alt]="row!.description!" class="responsive-img"
                           style="max-height: 50px">
                    </div>
                    <div class="col-6">
                      {{row!.location!.city!}}
                      <br>
                      <pre>{{row!.location!.networkZone!}}</pre>
                    </div>
                  </div>
                </mat-card-content>
                <mat-card-actions>
                  <mat-radio-button color="primary"
                                    [value]="row!.id!">{{row!.location!.city!}}</mat-radio-button>
                </mat-card-actions>
              </mat-card>
            </div>

          </div>

        </mat-radio-group>
      </div>
    </mat-card-content>
  </mat-card>

  <div class="row">
    <div class="col-12">&nbsp;</div>
  </div>

  <mat-card class="col-12">
    <mat-card-header>
      <mat-card-title>Instance</mat-card-title>
      <mat-card-subtitle>
        The type of instance determines the vCPU, RAM, SSD, and outbound network transfer capacity that each server
        running your application will have. You can choose between shared or dedicated vCPUs, and between AMD or Intel
        processors.
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content style="padding: 5px">
      <mat-hint class="mat-error" *ngIf="helper.FgCampoInvalido('aplicacionServidorId', miForm)">
        Select a server type
      </mat-hint>

      <mat-radio-group formControlName="aplicacionServidorId"
                       [(ngModel)]="aplicacionServidorId">
        <mat-tab-group style="background-color: #303030">

          <mat-tab label="Shared vCPU (x86)">
            <div class="row">
              <div *ngFor="let row of getServerType('shared', 'x86')" class="col-6 col-md-4 col-lg-3"
                   style="padding: 5px">
                <app-card-server-type [row]="row"></app-card-server-type>
              </div>
            </div>
          </mat-tab>

          <mat-tab label="Shared vCPU (Arm64)" *ngIf="getServerType('shared', 'arm')!.length! > 0">
            <div class="row">
              <div *ngFor="let row of getServerType('shared', 'arm')" class="col-6 col-md-4 col-lg-3"
                   style="padding: 5px">
                <app-card-server-type [row]="row"></app-card-server-type>
              </div>
            </div>
          </mat-tab>

          <mat-tab label="Dedicated vCPU (x86)">
            <div class="row">
              <div *ngFor="let row of getServerType('dedicated', 'x86')" class="col-6 col-md-4 col-lg-3"
                   style="padding: 5px">
                <app-card-server-type [row]="row"></app-card-server-type>
              </div>
            </div>
          </mat-tab>

        </mat-tab-group>
      </mat-radio-group>

    </mat-card-content>
  </mat-card>

  <div class="row">
    <div class="col-12">&nbsp;</div>
  </div>

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Capacity</mat-card-title>
        <mat-card-subtitle>
          Set the minimum and maximum number of instances that your application can have
        </mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content class="row">
      <br>
      <div class="col-4">
        <mat-checkbox
          formControlName="multiServer"
          class="example-margin"
          [(ngModel)]="multiServer"
          (ngModelChange)="serverMin = 1; serverMax = 5;">
          Application with multiple instances
        </mat-checkbox>
      </div>

      <br>

      <mat-form-field *ngIf="multiServer" appearance="outline" class="col-4" color="primary">
        <mat-label>Minimum capacity</mat-label>
        <input matInput
               formControlName="serverMin"
               [(ngModel)]="serverMin">
        <mat-hint class="mat-error" *ngIf="helper.FgCampoInvalido('serverMin', miForm)">
          The capacity must be between 1 and 150
        </mat-hint>
      </mat-form-field>

      <mat-form-field *ngIf="multiServer" appearance="outline" class="col-4">
        <mat-label>Maximum capacity</mat-label>
        <input matInput
               formControlName="serverMax"
               [(ngModel)]="serverMax">
        <mat-hint class="mat-error" *ngIf="helper.FgCampoInvalido('serverMax', miForm)">
          The capacity must be between 1 and 150
        </mat-hint>
      </mat-form-field>

    </mat-card-content>
  </mat-card>

  <div class="row">
    <div class="col-12">&nbsp;</div>
  </div>

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Terms and Conditions</mat-card-title>
        <mat-card-subtitle>
          I am confident that I have the resources available and within the limits of Hetzner. I am responsible for my
          resources and that I will pay for provisioned servers and that BackStages.com will only manage my servers. I
          also keep in mind that I won't be able to manage my servers since I use BackStages.com for that and that I can
          delete the servers that BackStages.com creates.
        </mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content class="row">
      <br>
      <div class="col-4">
        <mat-checkbox
          formControlName="terminoCondiciones"
          class="example-margin"
          [(ngModel)]="terminoCondiciones">
          I have read and agree
        </mat-checkbox>
      </div>
      <br>
      <div class="col12">
        <button mat-raised-button type="button" color="primary" [disabled]="block" (click)="btnEnviar()">
          <i class="fa-regular fa-square-plus"></i>
          &nbsp;
          Create platform
        </button>
      </div>
    </mat-card-content>
  </mat-card>

</div>
