<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{marca}} | {{row!.cpu_type! | titlecase}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      <i class="fa-solid fa-microchip"></i> vCPU: <span class="text-bold">{{row!.cores!}}</span>
      <br>
      <i class="fa-solid fa-memory"></i> RAM: <span class="text-bold">{{row!.memory!}} GB</span>
      <br>
      <i class="fa-regular fa-hard-drive"></i> SSD (NVMe): <span class="text-bold">{{row!.disk!}}
      GB</span>
      <br>
      <i class="fa-solid fa-terminal"></i> Architecture: <span class="text-bold">{{row.architecture}}</span>
    </p>
  </mat-card-content>
  <mat-card-actions>
    <mat-radio-button color="primary" [value]="row!.id!">{{row!.name!.toUpperCase()}} | € {{row!.prices![0]!.price_monthly!.gross! | number:'0.2-2'}} mo</mat-radio-button>
  </mat-card-actions>
</mat-card>
