@import "@angular/material/theming";
// https://medium.com/@treviergits/angular-material-theme-color-options-7d5968cb7460
//noinspection SassScssUnresolvedMixin
@include mat-core();
//noinspection SassScssUnresolvedVariable,CssInvalidFunction
$angular-primary: mat-palette($mat-blue);
//noinspection SassScssUnresolvedVariable,CssInvalidFunction
$angular-accent: mat-palette($mat-teal);
//noinspection SassScssUnresolvedVariable,CssInvalidFunction
$angular-warn: mat-palette($mat-deep-orange);
//noinspection CssInvalidFunction
$angular-default-theme: mat-dark-theme(
    (
      color: (
        primary: $angular-primary,
        accent: $angular-accent,
        warn: $angular-warn,
      ),
    )
);
@include angular-material-theme($angular-default-theme);
